<div id="a" style="padding:15px">

  <b> e-mails cadastrados</b>
  <ol style="padding:0px 0px 0px 35px">
    <% @usuarios.each do |u| %>
    	<li><%= u.email %></li>
    <% end %>
  </ol>

  <span style="cursor:pointer" onclick="$('#email_form').show()">
    Massa, quero deixar meu email!
  </span>

  <div id="email_form" style="margin-top:20px ;display:none">
    <%= form_tag '/landing/register_email', :method=>"post" do %>
      <%= label_tag "email"%>
      <%= email_field_tag :email %>

      <%= submit_tag "ok" %>
    <% end %>
  </div>
</div>