<div id="center_container" style="width:900px; margin:auto">
  <div id="loading" style="margin:150px 0px 0px 434px; float:left">
    <%= image_tag '/assets/landing/loading.gif' %>
  </div>

  <div id="landing_body" style="display:none; float:left; background:url(/assets/landing/background.jpg); width:900px; height:675px">

    <div id="email_form" style="margin:30px 0px 0px 50px; float:left">
      <%= image_tag '/assets/landing/neon.png', :style=>"float:left" %>
      
      <div style="font-size:12px; margin:-15px 0px 0px 0px; float:left">
        <%= 'Obrigado por deixar seu email, entraremos em contato!' if params['obrigado']=='k_rider' %>
      </div>
      <%= form_for(Interested.new) do |f| %>
        <%= f.email_field :email, :style=>"padding-left:5px" %>
        <%= f.submit "enviar" %>
      <% end %>

    </div>



    <div id="comics" style="margin:-20px 0px 0px 144px; float:left">

      <div id="left_arrow" style="margin:120px 0px 0px 22px; position:absolute;">
        <%= image_tag '/assets/landing/left_arrow.png', :style=>'cursor:pointer' %>
      </div>
      
      <div id="comic_frame" style="float:left; width:615px; height:416px; background: url(/assets/landing/comics_frame.png); z-index:-2;">
        <div id="loading_wrapper" style="float:left; margin:148px 0px 0px 290px; position:absolute; display:none">
          <%= image_tag '/assets/landing/loading.gif' %> 
          <div style="font-size:10px; margin:0px 0px 0px -12px">
            carregando...
          </div>
        </div>

        <div id="subtitle" style="float:left; margin:24px 0px 0px 80px; position:absolute; font-size:16px;">
        </div>


        <div id="image_wrapper" style="float:left; width:476px">
          <%= image_tag 'comics/1.jpg', :style=>'float:left; border-radius: 5px; margin:15px 0px 0px 71px;'%>
        </div>
      </div>

      <div id="right_arrow" style="margin:120px 0px 0px 555px; position:absolute;">
        <%= image_tag '/assets/landing/right_arrow.png', :style=>'cursor:pointer' %>
      </div>
    </div>


    <br style="clear:both">
    <div id="audience" style="float:left; margin-top: -100px;">
        <%= image_tag '/assets/landing/space_ships.png' %>
    </div>


  </div>

</div>

<script type="text/javascript">

  total_pics = 12
  pics_path = '/assets/comics/'

  subtitles = ["Em 5 de setembro de 1977",
               "ocorre o lançamento da sonda Voyager1",
               "Foi quando a sonda iniciou sua viagem...",
               "e deu tudo certo! Uhuuul!",
               "Depois de 33 anos, em 13 de dezembro de 2010",
               "a Voyager1 sai do alcance dos ventos solares! Uhuuul(2)!",
               "Mas sem os ventos solares, extra-terrestres detectam a Voyager1",
               "E dentro dela econtram músicas, fotos e artefatos da Terra...",
               "Então a galera de Keppler-22b decide ir pra Terra...",
               "pra fazer um acordo...",
               "Keplerianos só podem andar pela Terra acompanhados por humanos!",
               "Topa ajudar?"];

  current_pic = 1;

  function slide_picture(direction){
    var old_current_pic = current_pic;

    if(direction=="forward" && current_pic<total_pics)
      current_pic = current_pic + 1;
    else if(direction=="backward" && current_pic>0)
      current_pic = current_pic - 1;
    
    if(old_current_pic!=current_pic){
      $('#comics #subtitle').html('');
      $('#comics #image_wrapper').animate({width:'hide'}, function(){
        $('#comics #image_wrapper').width(0);
        $('#comics #loading_wrapper').show();
        var picture = pics_path + current_pic + '.jpg';
        $('#comics #image_wrapper img').attr('src', picture).load(function() {
          $('#comics #loading_wrapper').hide();
          $('#comics #image_wrapper').show()
          $('#comics #image_wrapper').animate({width:'476px'}, function() {
            $('#subtitle').html(subtitles[current_pic-1]);
          });
        });
      });
    }
  }

  $(function() {
    $('#right_arrow').click(function() {
      slide_picture('forward');
    });

    $('#left_arrow').click(function() {
      slide_picture('backward');
    });

    $('#comics #subtitle').html(subtitles[0]);
  });

  $('#landing_body #audience img').load(function(){
    $("#loading").hide();
    $("#landing_body").fadeIn('slow');
  });
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33108367-1']);
  _gaq.push(['_setDomainName', 'ktrippers.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
