<div id="center_container" style="width:900px; margin:auto">
  <div id="loading" style="margin:150px 0px 0px 434px; float:left">
    <%= image_tag '/assets/landing/loading.gif' %>
  </div>

  <div id="landing_body" style="display:none; float:left; background:url(/assets/landing/background.jpg); width:900px; height:675px">

    <div id="email_form" style="margin:30px 0px 0px 50px; float:left">
      <%= image_tag '/assets/landing/neon.png', :style=>"float:left" %>
      
      <div style="font-size:12px; margin:-15px 0px 0px 0px; float:left">
        <%= 'Obrigado por deixar seu email, entraremos em contato!' if params['obrigado']=='k_rider' %>
      </div>
      <%= form_for(Interested.new) do |f| %>
        <%= f.email_field :email, :style=>"padding-left:5px" %>
        <%= f.submit "enviar" %>
      <% end %>

    </div>



    <div id="comics" style="margin:-20px 0px 0px 144px; float:left">

      <div id="left_arrow" style="margin:120px 0px 0px 22px; position:absolute;">
        <%= image_tag '/assets/landing/left_arrow.png', :style=>'cursor:pointer' %>
      </div>
      
      <div id="comic_frame" style="float:left; width:615px; height:416px; background: url(/assets/landing/comics_frame.png); z-index:-2;">

        <div id="subtitle">
        </div>


        <div id="image_wrapper" style="float:left; width:476px">
          <%= image_tag 'comics/1.jpg',  :id=>'pic1',  :class=>'picture' %>
          <%= image_tag 'comics/2.jpg',  :id=>'pic2',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/3.jpg',  :id=>'pic3',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/4.jpg',  :id=>'pic4',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/5.jpg',  :id=>'pic5',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/6.jpg',  :id=>'pic6',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/7.jpg',  :id=>'pic7',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/8.jpg',  :id=>'pic8',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/9.jpg',  :id=>'pic9',  :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/10.jpg', :id=>'pic10', :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/11.jpg', :id=>'pic11', :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/12.jpg', :id=>'pic12', :class=>'picture', :style=>'display:none' %>
          <%= image_tag 'comics/13.jpg', :id=>'pic13', :class=>'picture', :style=>'display:none' %>
        </div>
      </div>

      <div id="play_pause_button" style="margin:280px 0px 0px 286px; position:absolute;">
        <%= image_tag '/assets/landing/play_pause.png', :style=>'cursor:pointer; max-width:50px' %>
        <div id="play_pause_status" style="font-size:12px; margin:-35px 0px 0px 55px">paused</div>
      </div>

      <div id="right_arrow" style="margin:120px 0px 0px 555px; position:absolute;">
        <%= image_tag '/assets/landing/right_arrow.png', :style=>'cursor:pointer' %>
      </div>
    </div>


    <br style="clear:both">
    <div id="audience" style="float:left; margin-top: -100px;">
        <%= image_tag '/assets/landing/space_ships.png' %>
    </div>


  </div>

</div>

<script type="text/javascript">

  subtitles = ["Em 5 de setembro de 1977",
               "ocorre o lançamento da sonda Voyager1",
               "Foi quando a sonda iniciou sua viagem...",
               "e deu tudo certo! Uhuuul!",
               "Depois de 33 anos, em 13 de dezembro de 2010",
               "a Voyager1 sai do alcance dos ventos solares!<br>Uhuuul(2)!",
               "Mas sem os ventos solares, extra-terrestres <br>detectam a Voyager1",
               "E dentro dela econtram músicas, fotos e <br>artefatos da Terra...",
               "Então a galera de Keppler-22b decide ir <br>pra Terra...",
               "pra fazer um acordo...",
               "Keplerianos só podem andar pela Terra <br>acompanhados por humanos!",
               "Topa ajudar?",
               "Tudo que você precisa é usar o seu celular<br>pra ajudá-los a conhecer nosso planeta!!"];

  total_pics = 13
  current_pic = 1;
  play_mode_on = false;
  interval = 6000;

  function slide_picture(direction){
    var old_current_pic = current_pic;

    if(direction=="forward" && current_pic<total_pics)
      current_pic = current_pic + 1;
    else if(direction=="backward" && current_pic>0)
      current_pic = current_pic - 1;
    
    if(old_current_pic!=current_pic){

      $('#comics #subtitle').html('');
      $('#comics #image_wrapper').animate({width:'0px'}, function(){
        $('#comics #image_wrapper').show();
        $('#comics #image_wrapper .picture').hide();
        var id = 'pic' + current_pic;
        $('#comics #image_wrapper #'+id).show();
        $('#comics #image_wrapper').animate({width:'476px'}, function() {
          $('#subtitle').html(subtitles[current_pic-1]);
        });
      });
    }

    if(play_mode_on){
      if(current_pic<total_pics)
        play();
      else
        pause();
    }
    if(current_pic == total_pics){
      _gaq.push(['_trackEvent', 'end_video', 'end_video','end_video']);
    }
  }

  $(function() {
    $('#right_arrow').click(function() {
      slide_step('forward');
      _gaq.push(['_trackEvent', 'navigate', 'forward',current_pic]);
    });

    $('#left_arrow').click(function() {
      slide_step('backward');
      _gaq.push(['_trackEvent', 'navigate', 'backward',current_pic]);
    });

    $('#play_pause_button').click(function() {
      if(play_mode_on){
        pause();
        _gaq.push(['_trackEvent', 'navigate', 'pause','pause']);
      }
      else{
        play();
        _gaq.push(['_trackEvent', 'navigate', 'play','play']);
      }
    });

    $('#comics #subtitle').html(subtitles[0]);
  });

  $('#landing_body #audience img').load(function(){
    $("#loading").hide();
    $("#landing_body").fadeIn('slow');
  });


  function play() {
    window.setTimeout('play_step()', interval);
    play_mode_on = true;
    $('#play_pause_status').html('playing...');
  }

  function play_step() {
    if(play_mode_on){
      slide_picture('forward');
    }
  }

  function slide_step(direction) {
    if(play_mode_on){
      pause();
      slide_picture(direction);
      window.setTimeout('play()', interval);
    }
    else{
      slide_picture(direction);
    }
  }

  function pause() {
    play_mode_on = false;
    $('#play_pause_status').html('paused');
  }

</script>




<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33108367-1']);
  _gaq.push(['_setDomainName', 'ktrippers.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
