<div id="center_container" style="width:900px; margin:auto">
  <div id="loading" style="margin:150px 0px 0px 434px; float:left">
    <%= image_tag 'loading.gif' %>
  </div>

  <div id="landing_body" style="display:none; float:left">

    <%= image_tag 'kepler22b_planet.png', :id=>'bg', :style=>'float:left; z-index:1'%>
    <!--
    <%= image_tag 'play.png', :id=>'play', :style=>'float:left; z-index:2; margin:-360px 0px 0px 415px; cursor:pointer'%>
    -->

    
    <div id="comics" style="margin:-474px 0px 0px 138px; float:left">

      <div id="left_arrow" style="margin:120px 45px 0px 0px; float:left"></div>
      
      <div id="comic_frame" style="float:left; width:466px; height:276px; background-color:transparent; z-index:3; border:solid 7px white; border-radius:6px">
        <div id="image_wrapper" styl="float:left; width:466px">
          <%= image_tag 'comics/1.jpg', :style=>'float:left; z-index:1'%>
        </div>
      </div>

      <div id="right_arrow" style="margin:120px 0px 0px 45px; float:right"></div>
    </div>

    

    <div id="email_form" style="margin:-100px 0px 0px 277px; float:left">
      <%= form_for Interested.new do |f| %>
        <%= f.label "Email"%>
        <%= f.email_field :email %>
        <%= f.submit "enviar" %>
      <% end %>

      <div style="font-size:10px; margin:10px 0px 0px 40px">
      <%= 'Obrigado por deixar seu email, entraremos em contato!' if params['obrigado']=='k_rider' %>
    </div>

  </div>

</div>

<script type="text/javascript">

  pics = ['/assets/comics/1.jpg', '/assets/comics/2.jpg', '/assets/comics/3.jpg']
  current_pic = 0;

  function slide_picture(direction){
    var old_current_pic = current_pic;

    if(direction=="forward" && current_pic!=(pics.length-1))
      current_pic = (current_pic+1)
    else if(direction=="backward" && current_pic!=0)
      current_pic = (current_pic-1) % pics.length;
    
    if(old_current_pic!=current_pic){
      $('#comics #image_wrapper').animate({width:'hide'}, function(){
        $('#comics #image_wrapper img').attr('src', pics[current_pic]);
        $('#comics #image_wrapper').width(0);
        $('#comics #image_wrapper').show()
        $('#comics #image_wrapper').animate({width:'466px'})
      });
    }
  }

  $(function() {
    $('#right_arrow').click(function() {
      slide_picture('forward');
    });

    $('#left_arrow').click(function() {
      slide_picture('backward');
    });
  });

  $('#landing_body img').load(function(){
    $("#loading").hide();
    $("#landing_body").fadeIn('slow');
  });
</script>