<div id="center_container" style="width:900px; margin:auto">
  <div id="loading" style="margin:150px 0px 0px 434px; float:left">
    <%= image_tag '/assets/landing/loading.gif' %>
  </div>

  <div id="landing_body" style="display:none; float:left; background:url(/assets/landing/background.jpg); width:900px; height:675px">

    <div id="email_form" style="margin:30px 0px 0px 50px; float:left">
      <%= image_tag '/assets/landing/neon.png', :style=>"float:left" %>
      
      <div style="font-size:12px; margin:-15px 0px 0px 0px; float:left">
        <%= 'Obrigado por deixar seu email, entraremos em contato!' if params['obrigado']=='k_rider' %>
      </div>
      <%= form_for(Interested.new) do |f| %>
        <%= f.email_field :email, :style=>"padding-left:5px" %>
        <%= f.submit "enviar" %>
      <% end %>

    </div>



    <div id="comics" style="margin:-20px 0px 0px 144px; float:left">

      <div id="left_arrow" style="margin:120px 0px 0px 22px; position:absolute;">
        <%= image_tag '/assets/landing/left_arrow.png', :style=>'cursor:pointer' %>
      </div>
      
      <div id="comic_frame" style="float:left; width:615px; height:416px; background: url(/assets/landing/comics_frame.png);">
        <div id="image_wrapper" styl="float:left; width:466px">
          <%= image_tag 'comics/1.jpg', :style=>'float:left; z-index:1; margin:15px 0px 0px 71px; border-radius: 5px;'%>
        </div>
      </div>

      <div id="right_arrow" style="margin:120px 0px 0px 555px; position:absolute;">
        <%= image_tag '/assets/landing/right_arrow.png', :style=>'cursor:pointer' %>
      </div>
    </div>


    <br style="clear:both">
    <div id="audience" style="float:left; margin-top: -100px;">
        <%= image_tag '/assets/landing/space_ships.png' %>
    </div>


  </div>

</div>

<script type="text/javascript">

  total_pics = 12
  pics_path = '/assets/comics/'
  current_pic = 1;

  function slide_picture(direction){
    var old_current_pic = current_pic;

    if(direction=="forward" && current_pic<total_pics)
      current_pic = current_pic + 1;
    else if(direction=="backward" && current_pic>0)
      current_pic = current_pic - 1;
    
    if(old_current_pic!=current_pic){
      $('#comics #image_wrapper').animate({width:'hide'}, function(){
        var picture = pics_path + current_pic + '.jpg';
        $('#comics #image_wrapper img').attr('src', picture);
        $('#comics #image_wrapper').width(0);
        $('#comics #image_wrapper').show()
        $('#comics #image_wrapper').animate({width:'466px'})
      });
    }
  }

  $(function() {
    $('#right_arrow').click(function() {
      slide_picture('forward');
    });

    $('#left_arrow').click(function() {
      slide_picture('backward');
    });
  });

  $('#landing_body img').load(function(){
    $("#loading").hide();
    $("#landing_body").fadeIn('slow');
  });
</script>